$bg-main: #2b2b2b;
$bg-container: #272727;
$bg-ui: #222;
$borders: #1a1a1a;
$bg-button: #444;
$bg-menu: #3c3c3c;
$bg-button-hover: #999;
$bg-input-hover: #444;
$text-color: #fafafa;
$shadow: rgba(0,0,0,0.5);
