@import 'colors';

div.kr-editable.canvas_ranges_editor--root--1O0sYyVL {
  color: #dedede;
  background-color: $bg-main;
}

div.kr-span {
  color: #e6e6e6;
}

div.left_rail_view--root--21r3Zn9y.left_rail_view--expanded--1yBdK1dz {
  background-color: #333333;
  color: #f7f7f7;
}

div.document--toolbarContainer--2y3u4pHM {
  background-color: $bg-main;
  color: #cccccc;
}

div.packs_toolbar_item--root--2WS7GL02.section_toolbar--packsToolbarItem--1DCuLQUY {
  background-color: #828282;
}

span.icon--root--FQNTLZGB.icons--s-extension-outline--1LGM5pDK.kr-icon.icon {
  color: #ffffff;
}

span.icon--root--FQNTLZGB.icons--s-coda-bot--1x8k5W1o.kr-icon.icon {
  color: #cccccc;
}

.toolbar_item--root--2F5kZaN4 {
  color: #d4d4d4;
}

.toolbar_item--root--2F5kZaN4.toolbar_item--disabled--2bgrT9rV {
  background-color: #3b3b3b;
  color: #8a8a8a;
}

.toolbar_item--popupMode--36KZSuOM.toolbar_item--filledActive--3f3fnQ3D {
  background-color: #545454;
  color: #d6d6d6;
}

span.toolbar_item--root--2F5kZaN4.button_view--naked--1wb0B5zf.button_view--root--1ulSdy0k {
  background-color: #2e2e2e;
}

div.left_rail_search_box--searchBar--3OQfFXpC.document_search_bar--container--3NBqCUvX.route--root--3yaQ6jOH.route--root--3yaQ6jOH {
  background-color: #4d4d4d;
  color: #e6e6e6;
}

header.title_bar--root--KjDBqrRl {
  background-color: #363636;
  color: #ffffff;
  border-color: #000000;
}

.right_rail_view--root--lNU0T9ug {
  background-color: #303030;
  color: #ffffff;
  border-color: #050505;
}

div.add_section_button--addButtonContainer--3ZoezOov {
  background-color: $bg-main;
  color: #ffffff;
}

div.left_rail_view--root--21r3Zn9y.left_rail_view--collapsed--3rNLm1mS {
  background-color: #383838;
  color: #ebebeb;
}

div.viewport--viewport--2LXbH4cN {
  color: #1f1f1f;
}

body {
  background-color: $bg-main;
}

a.doc_list_item--documentItem--H0jXxwWp {
  background-color: #363636;
  color: #ffffff;
  border-color: #525252;
}

div.doc-list--searchBar--37Tefk1Q {
  background-color: #2e2e2e;
  border-color: #242424;
}

header.header-bar--root--2vBUHWK3.header-bar--authedTheme--1Z9XNzmL {
  background-color: #3b3b3b;
  border-color: #1a1a1a;
}

div.text-input--wrapper--2zeSaBAy.search-box--root--2voYJ6yB.doc-list--search--lSK_IsWN {
  background-color: #292929;
}

a.header-bar--navLink--2_qMRbVy.header-bar--active--aGKTUYPs {
  color: #1ccaff;
}

a.doc-list--moreLink--XfUb-WtQ {
  border-color: #141414;
}

a.doc-list--moreLink--XfUb-WtQ:hover {
  background-color: #262626;
}

a.new-document-button--menuItem--3g_N4Ijf {
  background-color: #1f1f1f;
  color: #ffffff;
}

span.toolbar_item--popupMode--36KZSuOM.button_view--naked--1wb0B5zf.style_toolbar_items--colorToolbarItem--2stygwLr.toolbar_item--nonFilledActive--2wXwO1wJ.button_view--root--1ulSdy0k:hover {
  background-color: #5c5c5c;
}

.toolbar_item--container--2WLdJER8:hover {
  background-color: #363636;
}

.toolbar_item--popupMode--36KZSuOM:hover {
  background-color: #1c1c1c;
}
