@import 'colors';

// Containers
.kix-appview-editor-container {
  background-color: $bg-container;
}

// Main Backgrounds
.kix-page.kix-page-compact-first,
.kix-page-content-wrapper,
.docs-ui-unprintable {
  background-color: $bg-main !important;
}

// Main Text Colors
body, .kix-lineview-text-block,
span.kix-wordhtmlgenerator-word-node,
.goog-menuitem,
.goog-menuitem-highlight .goog-menuitem-label,
.goog-toolbar-button,
.docs-menubar .goog-control-hover,
.docos-anchoredreplyview-author,
.docos-input-typing>.docos-input-textarea,
.jfk-button-standard {
  color: $text-color !important;
}
.docs-menubar {
  color: $text-color-secondary !important;
}
a:visited, a:visited span {
  color: $text-link-visited !important;
}
a:link, a:link span, .docs-bubble-link {
  color: $text-link !important;
}

// Text Selection
.kix-lineview .kix-selection-overlay.kix-htmloverlay.docs-ui-unprintable.kix-htmloverlay-under-text {
  background-color: $text-selection !important;
}

// UI Backgrounds
div#docs-chrome,
div#docs-toolbar-wrapper,
.docs-title-input,
div#kix-vertical-ruler,
div#kix-horizontal-ruler,
.docs-ruler-background-inner,
.docs-titlebar-buttons,
.app-switcher-button-icon-container,
.companion-app-switcher-container,
.docos-anchoreddocoview {
  background-color: $bg-ui !important;
}

// Comments
.docos-layout-vertical .docos-anchoreddocoview .docos-anchoreddocoview-arrow-inner,
.docos-layout-vertical .docos-anchoreddocoview .docos-anchoreddocoview-arrow-outer {
  border-right-color: $bg-menu !important;
}
.docos-input-textarea {
  background-color: darken($bg-menu, 5%) !important;
}
.docos-replyview-first.docos-anchoredreplyview,
.docos-anchoreddocoview .docos-draftdiscussionview-input-pane {
  background-color: $bg-menu !important;
}

// Borders
div#kix-horizontal-ruler,
div#kix-vertical-ruler,
div#docs-toolbar-wrapper,
.goog-toolbar-separator,
.companion-app-switcher-container,
.docs-companion-app-switcher-container,
#docs-instant-button-bubble,
.docos-input-textarea {
  border-color: $borders !important;
}

.goog-menuitem.docs-submenuitem,
.goog-menuseparator {
  border-color: lighten($borders, 15%);
}

// Buttons
.goog-toolbar-button,
.goog-toolbar-combo-button,
.goog-toolbar-menu-button,
#docs-instant-button-bubble,
.jfk-button-standard {
  background-color: $bg-button !important;
}
.jfk-button-standard {
  background-image: linear-gradient(lighten($bg-button, 6%), lighten($bg-button, 6%)) !important;
}

.goog-toolbar-button:hover,
.goog-toolbar-combo-button:hover,
.goog-toolbar-menu-button:hover,
#docs-instant-button-bubble:hover {
  background-color: $bg-button-hover;
}

// Menus
.goog-menu,
.docs-menubar .goog-control-open {
  background-color: $bg-menu;
}

.goog-menuitem-highlight,
.goog-menuitem-highlight .docs-submenuitem-splitbutton {
  background-color: lighten($bg-menu, 6%);
}
.goog-menuitem-highlight .docs-submenuitem-splitbutton {
  background-image: linear-gradient(lighten($bg-menu, 6%), lighten($bg-menu, 6%));
  border-color: transparent !important;
}

// Inputs
.docs-title-input:hover,
.docs-menubar .goog-control.goog-control-hover {
  background-color: $bg-input-hover !important;
  border-color: $bg-input-hover !important;
}

// Shadows
.goog-menu {
  box-shadow: 0 5px 10px 0 $shadow;
}
.kix-paginateddocumentplugin.kix-paginateddocumentplugin-compact-mode {
  box-shadow: 0 0 15px 0 $shadow;
}

// Various
.jfk-tooltip, .docs-bubble {
  background-color: lighten($bg-menu, 10%) !important;
  border-color: transparent !important;
  color: $text-color !important;
}
.jfk-tooltip-arrowimplbefore {
  border-color: transparent !important;
}
.jfk-tooltip-arrowimplafter {
  border-color: lighten($bg-menu, 10%) transparent !important;
}
